<% content_for :main do %>
class="index-plate"
<% end %>
<nav id="index_nav" class="index-nav">
  <a href="https://www.instagram.com/<%= ENV["SNS_INSTAGRAM_NAME"] %>/" target="_blank">
    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 14 14">
      <path fill="#000" d="M13.96 4.11c-.04-.75-.15-1.25-.33-1.7-.18-.46-.42-.85-.81-1.24-.39-.39-.78-.63-1.24-.81-.45-.17-.96-.29-1.7-.33-.74-.02-.98-.03-2.88-.03s-2.14.01-2.89.04-1.25.15-1.7.32c-.46.19-.85.43-1.24.81-.38.39-.62.78-.8 1.24-.17.44-.29.95-.32 1.7-.04.75-.05.99-.05 2.89 0 1.9.01 2.14.04 2.89s.15 1.25.32 1.7c.18.46.42.85.81 1.24.39.39.78.63 1.24.81.45.17.95.29 1.7.33.75.02.99.03 2.89.03 1.9 0 2.14-.01 2.89-.04.74-.03 1.25-.15 1.7-.33.46-.18.85-.42 1.24-.81.39-.39.63-.78.81-1.24.17-.45.29-.95.33-1.7.02-.74.03-.98.03-2.88s-.01-2.14-.04-2.89zm-1.25 5.72c-.03.68-.15 1.05-.24 1.3-.13.33-.28.56-.52.81-.25.25-.48.4-.81.52-.25.1-.62.21-1.3.24-.75.04-.97.05-2.84.05-1.87 0-2.09-.01-2.83-.04-.68-.03-1.05-.15-1.3-.24-.33-.12-.56-.28-.81-.52-.25-.25-.4-.48-.52-.81-.1-.25-.21-.62-.24-1.3-.04-.75-.05-.97-.05-2.84s.01-2.09.04-2.83c.03-.68.15-1.05.24-1.3.13-.33.28-.57.53-.81.25-.24.48-.4.81-.52.25-.1.62-.21 1.3-.24.74-.04.96-.05 2.83-.05s2.09.01 2.83.04c.68.03 1.05.15 1.3.24.33.13.56.28.81.52.25.25.4.48.52.81.1.25.21.62.24 1.3.03.74.04.96.04 2.83s0 2.1-.03 2.84zm-5.71-6.42c-1.99 0-3.59 1.61-3.59 3.59 0 1.98 1.61 3.59 3.59 3.59 1.98 0 3.59-1.61 3.59-3.59 0-1.98-1.61-3.59-3.59-3.59zm0 5.93c-1.29 0-2.34-1.05-2.34-2.34 0-1.29 1.05-2.34 2.34-2.34 1.29 0 2.34 1.05 2.34 2.34 0 1.29-1.05 2.34-2.34 2.34zm3.73-6.91c-.46 0-.84.38-.84.84s.38.84.84.84c.46 0 .84-.38.84-.84s-.38-.84-.84-.84z"/>
    </svg>
  </a>
  <svg id="index_menu_open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
  </svg>
</nav>
<aside id="index_menu" class="index-menu">
  <div class="index-menu-close">&times;</div>
  <ul class="index-menu-list">
    <li class="index-menu-list-item"><a href="#top">Top</a></li>
  <% @categories.each_with_index do |category, index| %>
    <li class="index-menu-list-item" style="transition-delay: <%= index * @menu_deley %>s;">
      <a href="#category_<%= category.id %>"><%= category.name %></a>
    </li>
  <% end %>
    <a href="#categories">
      <li class="index-menu-list-item" style="transition-delay: <%= @categories.count * @menu_deley %>s;">Categories</li>
    </a>
    <a href="#contact">
      <li class="index-menu-list-item" style="transition-delay: <%= (@categories.count + 1) * @menu_deley %>s;">Contact</li>
    </a>
    <a href="#about">
      <li class="index-menu-list-item" style="transition-delay: <%= (@categories.count + 2) * @menu_deley %>s;">About</li>
    </a>
    <li class="index-menu-language">
      <%= link_to_if I18n.locale != :en, 'English', locale_path(locale: 'en') %>
      /
      <%= link_to_if I18n.locale != :ja, 'Japanese', locale_path(locale: 'ja') %>
    </li>
  </ul>
</aside>

<section id="top" class="index-main" style="color: #200404; background-color: #ffffff; background-position: initial initial; background-repeat: initial initial;">
  <div class="index-album" id="album" data-album="<%= @album.to_json %>" data-interval="<%= @preference.headline_interval %>"></div>
  <h1>
    <%= image_pack_tag 'media/images/site_logo.png' %>
  </h1>

  <div class="index-date">
    Last Issued <%= @last_issue %>
  </div>
  <div></div>
</section>

<% if @sticky %>
<div class="index-project-group haze">
  <div class="sticky-plate" style="background-image: linear-gradient(120deg, <%= @sticky.color_bg_start %>, <%= @sticky.color_bg_end %>);">
    <%= raw @sticky.html %>
  </div>
</div>
<% end %>

<% @categories.each do |category| %>
<% if category.published_projects.present? && category_page = @index[:category][category.id] %>
<section id="category_<%= category.id %>" class="index-project-group index-project-group-collapsible haze">
  <%= link_to publish_path(category_page), class: "index-category" do %>
    <h2><%= category.name %></h2>
    &gt;&gt; detail p.<%= category_page %>
  <% end %>
  <% category.published_projects.index_list(@preference.projects_display_count).each do |project| %>
    <% if project_page = @index[:project][project.id] %>
    <%= link_to publish_path(project_page), class: "index-project" do %>
      <div class="index-thumbnail">
        <div class="<%= "vertical" if project.is_portrait %>"><% if project.file.thumb %><img src="<%= project.file.thumb %>"><% end %></div>
      </div>
      <div class="index-overview">
        <h3><%= project.title %></h3>
        <div class="card-supplement"><%= project.date.strftime("%B %Y") %></div>
        <p><%= project.overview %></p>
      </div>
    <% end %>
    <% end %>
  <% end %>

  <%= link_to publish_path(@index[:category][category.id]) do %>
  <div class="contrail-link index-omitted">
    <div class="contrail-link-normal">And More</div>
    <div class="contrail-link-hover"><%= category.name %> p.<%= @index[:category][category.id] %></div>
  </div>
  <% end %>
</section>
<% end %>
<% end %>

<section id="categories" class="index-project-group haze">
  <div class="index-category">
    <h2>Categories</h2>
  </div>

  <div class="index-category-list">
  <% @categories.each do |category| %>
    <% if page = @index[:category][category.id] %>
    <div>
      <%= link_to publish_path(page), class: "index-project" do %>
        <h3><%= category.name %><span class="index-paginate">p.<%= page %></span>
        </h3>
        <div class="card-supplement">October 2018</div>
      <% end %>
    </div>
    <% end %>
  <% end %>
  </div>
</section>

<section id="contact" class="index-project-group haze">
  <%= form_with(model: @contact, url: send_path, local: true, id: "contact_form") do |form| %>
    <input type="hidden" name="accessed_at" value="<%= Time.current.to_i %>">
    <div class="index-category">
      <h2>Contact</h2>
    </div>
    <div id="contact_letter" class="contact-letter">
      <div class="contact-letter-front">
        <div class="contact-input">
          <div class="contact-field">
            <label>Name</label><input type="text" name="contact[name]">
          </div>
          <div class="contact-field">
            <label>Email</label><input type="text" class="contact-field" name="contact[email]">
          </div>
          <div class="contact-field">
            <label>Message</label><textarea id="contact_textarea" class="contact-field" name="contact[body]"></textarea>
          </div>
        </div>
        <div class="contact-button">
          <p id="contact_confirm"><%= t("contacts.send") %></p>
        </div>
      </div>
      <div class="contact-letter-back">
        <div class="contact-letter-back-inner">
          <ul id="contact_errors" class="contact-error-list contact-error" data-locale="<%= I18n.locale %>"></ul>
          <p class="contact-letter-back-confirm contact-correct"><%= t("contacts.confirm") %></p>
          <p id="contact_submit" class="contact-letter-back-button contact-correct"><%= t("contacts.yes") %></p>
          <p id="contact_back" class="contact-letter-back-button">
            <span class="contact-correct"><%= t("contacts.no") %></span>
            <span class="contact-error"><%= t("contacts.cancel") %></span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</section>

<section id="about" class="index-colophon haze">
  <div class="imprint">
    <div class="imprint-inner">
      <h3 class="imprint-heading"><%= @preference.owner_name %></h3>
      <p><%= simple_format(h(@preference.profile)) %></p>
    </div>
  </div>

  <p>&copy; 2019- <%= ENV["SITE_OWNER"] %> All Rights Reserved.</p>
  <p>Developed by <%= ENV["SITE_DESIGNER"] %></p>
</section>
